<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product List</title>
</head>
<body>

    <h2>Product List</h2><br>

    <a href="{{ url_for('products_create_form') }}">Create New Product</a><br>

    <table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Variant</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Description</th>

        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for product in products %}
        <tr>
            <td>{{ product[0] }}</td>
            <td>{{ product[1] }}</td>
            <td>{{ product[2] }}</td>
            <td>{{ product[3] }}</td>
            <td>{{ product[4] }}</td>
            <td>{{ product[5] }}</td>

        </tr>
    {% endfor %}
    </table>

</body>
</html>